.services{
    background-color: white;
    text-align: center;
}

p{
    color:darkslateblue;
}

.service{
    display: inline-block;
    width:20%;
    background-color: white;
}

i{
    color: coral;
}